body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.tasks-table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

.tasks-table th, .tasks-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.tasks-table th {
    background-color: #3e4c54;
    color: white;
}

button {
    padding: 8px;
    background-color: yellow;
    text-align: center;
    color: black;
    border: none;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}


